.container {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 140px;

    .about {
        border-width: 1px 1px 1px 1px;
        border-style: solid;
        border-color: #A6B5CA;
        padding: 83px 105px 116px 71px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 222px;

        .about__title {
            max-width: 880px;
            width: 100%;

            h3 {
                font-weight: 600;
                font-size: 52px;
                line-height: 150%;
                color: #3D3D3D;
                margin-bottom: 28px;
            }

            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 150%;
                letter-spacing: 0.04em;
                color: #636363;
                margin-bottom: 28px;
            }

            .about__icons {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }

        .about__slider {
            .box__slider {
                width: 434px;
                height: 545px;
                background: radial-gradient(56.54% 56.54% at 50% 50%, #3E6EA9 0%, #385981 100%);
                border-radius: 147px;
            }
        }
    }
}